{% extends 'base.html' %}

{% block Content %}
    <div class="fon-2">
        <div class="bg-opacity-50">
            {% include "includes/header.html" %}
        </div>
    </div>
    <div class="bg-light lb pt-1">
        <div class="clear container good-header-container">
            <div class="breadcrumbs21">
                <a class="sil"
                   href="/">Главная</a>
                <span>Ключи в кейсах</span>
            </div>
            <div class="good-title pt-3">
                Ключи в кейсах
            </div>
            <div class="cases-collection">
                Тут ты можешь испытать свою удачу.<br>В каждой подборке собраны позиции крутых ключей к играм.
            </div>
        </div>
        <div class="container">
            <div class="row">
                {% for case in cases %}
                    <div class="col-12 col-md-4">
                        <a href="{% url 'render_detail_case' case.id %} ">
                            <div class="card-case rgb">
                                {% if case.photo %}
                                    <div class="card_image" style="background-image: url({{ case.photo.url }})"></div>
                                {% endif %}
                                <div class="card_text">
                                    <h2>{{ case.title }}</h2>
                                    <p>{{ case.description }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="bg-white lb">
            <div class="container">
                <div class="good-title pt-5">
                    Удача или промах
                </div>
                <div class="cases-collection">
                    Тут ты можешь испытать свою удачу.<br> Все или ничего!!!
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="card-case">
                            <div class="card_image"></div>
                            <div class="card_text">
                                <h2>Case</h2>
                                <p>Lorem ipsum dolor sit amet consectetur, Ducimus, repudiandae temporibus omnis
                                    illum maxime quod
                                    deserunt eligendi dolor</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card-case">
                            <div class="card_image"></div>
                            <div class="card_text">
                                <h2>Case</h2>
                                <p>Lorem ipsum dolor sit amet consectetur, Ducimus, repudiandae temporibus omnis
                                    illum maxime quod
                                    deserunt eligendi dolor</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="card-case">
                            <div class="card_image"></div>
                            <div class="card_text">
                                <h2>Case</h2>
                                <p>Lorem ipsum dolor sit amet consectetur, Ducimus, repudiandae temporibus omnis
                                    illum maxime quod
                                    deserunt eligendi dolor</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}