{% extends 'base.html' %}

{% block Content %}
    <div class="fon-2">
    <div class="bg-opacity-50">
        {% include "includes/header.html" %}
    </div>
</div>
    <div class="bg-light pt-1 lb">
        <div class="clear container good-header-container">

            <div class="breadcrumbs21">
                <a class="sil"
                   href="/">Главная</a>
                <span>{{ account.title }}</span>
            </div>
            <div class="good-title pt-3">
                {{ account.title }}
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="bg-white buy">
                    <div class="buy-item_price pt-3">
                        <span class="rub-sm">₽</span>
                        <span>{{ account.price }}</span>
                    </div>
                    <div class="buy-item-actions">
                        <button type="button" class="button_buy">
                            Купить
                        </button>
                        <div class="buy-item-info">
                            <div class="buy-item-stats">
                                <div class="buy-item-stat">
                                    <span>{{ account.availability }}</span>
                                    <span>в наличии</span>
                                </div>
                                <div class="buy-item-stat">
                                    <span>{{ account.sales }}</span>
                                    <span>продаж</span>
                                </div>
                                <div class="buy-item-stat">
                                    <span>0</span>
                                    <span>отзывов</span>
                                </div>
                            </div>

                            <div class="buy-item-about">
                                <div class="buy-item-info-title">Информация о игре</div>
                                <div class="buy-item-details">
                                    <div>
                                        <span>Жанр</span>
                                        <span>{{ account.genre }}</span>
                                    </div>
                                    <div>
                                        <span>Платформа</span>
                                        <span>{{ account.platform }}</span>
                                    </div>
                                    <div>
                                        <span>Тип</span>
                                        <span>{{ account.type }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section col-9">
                    <div class="section__tabs tabs">
                        <div class="tabs__head">
                            <div class="tabs__caption" data-tab="home">Полное описание</div>
                            <div class="tabs__caption" data-tab="portfolio">Отзывы<span class="item-main-tab-counter">0</span></div>
                        </div>
                        <div class="tabs__body">
                            <div class="tabs__content" data-tab="home"><p class="jb">{{ account.full_description }}</p>
                            </div>
                            <div class="tabs__content" data-tab="portfolio"><p>Отзывов пока нет=3</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}