{% extends 'base.html' %}

{% block Content %}
<div class="fon-2">
    <div class="bg-opacity-50">
        <div class="container">
            <div class="row">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark opacity-100">
                    <button class="navbar-toggler position-absolute top-0 end-0" type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="container-fluid">
                        <a class="" href="http://localhost:63342/practika/Main.html?_ijt=lo1ch99ictfpo8aj53sa8fe84">
                            <img src="https://i.postimg.cc/dQnVD2TB/Icon.png" class="img-fluid" width="175"
                                 height="60">
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page"
                                           href="/">Главная</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" aria-current="page" href="/agreement">Соглашение</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" aria-current="page" href="#">Поддержка</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" aria-current="page"
                                           href="https://vk.com/zdestupa">Группа
                                            вк</a>
                                    </li>
                                </ul>
                                <div class="signed__balance">
                                    <button class="avatar-btn d-none d-md-flex">+
                                    </button>
                                </div>
                                <a href="http://localhost:63342/practika/User.html?_ijt=l187ap4ds6b5hmlca1ja9e9g83"
                                   class="signed__avatar img-fluid">
                                    <img class="avatar d-none d-md-flex"
                                         src="https://sun9-north.userapi.com/sun9-79/s/v1/ig2/Z_pRERHjFFKTq1MxUN8adbdXbNBpWLejSYkHgD65kFw5-J9iAi6A9KLOwVpwvbjPyy_xFb5iAU_MTD5j_7aFuOks.jpg?size=810x1080&quality=95&type=album">
                                    <img class="avatar2 d-flex d-md-none"
                                         src="https://sun9-north.userapi.com/sun9-79/s/v1/ig2/Z_pRERHjFFKTq1MxUN8adbdXbNBpWLejSYkHgD65kFw5-J9iAi6A9KLOwVpwvbjPyy_xFb5iAU_MTD5j_7aFuOks.jpg?size=810x1080&quality=95&type=album">
                                </a>
                            </div>
                        </a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="bg-light pt-1">
    <div class="clear container good-header-container">

        <div class="breadcrumbs21">
            <a class="sil"
               href="/">Главная</a>
            <span>{{ account.title }}</span>
        </div>
        <div class="good-title pt-3">
            {{ account.title }}
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="wrapper col-9">
                <div class="content_tab">
                    <div class="tabs">
                        <nav class="tabs_items pt-3">
                            <a href="#tab_01" class="tabs_item pt-3"><span>Полное описание</span></a>
                            <a href="#tab_02" class="tabs_item pt-3"><span class="">Отзывы</span>
                                <span class="item-main-tab-counter">0</span></a>
                        </nav>
                        <div class="tabs_body pt-3">
                            <div id="tab_01" class="tabs_block">
                                <p> После оплаты товара данные приходят в личный кабинет и на почту.
                                    <br>
                                    <br>Gang Beasts — веселая многопользовательская игра, в которой суровые
                                    пластилиновые персонажи выясняют отношения на опасных улицах Фарш-Сити. Комичные
                                    драки и абсурдные декорации ждут вас! Gang Beasts выпущена Double Fine™ и
                                    разработана Boneloaf — маленькой независимой студией, создающей
                                    экспериментальные многопользовательские игры.
                                    <br>
                                    <br>-Игра предоставляется в аренду на 30 дней.
                                    <br>*Продление аренды на 30 дней - 249р. При продлении у Вас остается тот же
                                    профиль и весь его прогресс. За продлением обращаться в поддержку.
                                    <br>
                                    <br> Инструкция по использованию:
                                    <br>1. Скачать и установить приложение Xbox на пк.
                                    <br>2. Авторизоваться с помощью полученных данных. Если просит код с почты -
                                    данные от неё такие же. Вход на почту через сайт rambler.ru
                                    <br>3. Скачать нужную игру - играть </p>
                            </div>
                            <div id="tab_02" class="tabs_block">
                                коменты Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut maxime
                                mollitia, rerum unde vero voluptates. Cumque dolorum eum fugiat in numquam officia
                                possimus sequi sint veniam vero. Aliquam, omnis, quo?
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-white buy col-3">
                <div class="buy-item_price pt-3">
                    <span class="rub-sm">₽</span>
                    <span>250</span>
                </div>
                <div class="buy-item-actions">
                    <button type="button" class="button_buy">
                        Купить
                    </button>
                    <div class="buy-item-info">
                        <div class="buy-item-stats">
                            <div class="buy-item-stat">
                                <span>38</span>
                                <span>в наличии</span>
                            </div>
                            <div class="buy-item-stat">
                                <span>4</span>
                                <span>продаж</span>
                            </div>
                            <div class="buy-item-stat">
                                <span>0</span>
                                <span>отзывов</span>
                            </div>
                        </div>

                        <div class="buy-item-about">
                            <div class="buy-item-info-title">Информация о игре</div>
                            <div class="buy-item-details">
                                <div>
                                    <span>Жанр</span>
                                    <span>Action</span>
                                </div>
                                <div>
                                    <span>Платформа</span>
                                    <span>Other</span>
                                </div>
                                <div>
                                    <span>Тип</span>
                                    <span>Неизвестен</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}