{% extends 'base.html' %}

{% block Content %}
    <div id="progressbar"></div>
    <div id="scrollPath"></div>
    <div class="main">
        <div class="fon">
            <div class="bg-opacity-50">
                <div class="container">
                    <div class="row">
                        <nav class="navbar navbar-expand-lg navbar-dark bg-dark opacity-100">
                            <button class="navbar-toggler position-absolute top-0 end-0" type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="container-fluid">
                                <a class="" href="/">
                                    <img src="https://i.postimg.cc/dQnVD2TB/Icon.png" class="img-fluid" width="175"
                                         height="60">
                                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                            <li class="nav-item">
                                                <a class="nav-link active" aria-current="page"
                                                   href="/">Главная</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" aria-current="page" href="/agreement">Соглашение</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" aria-current="page" href="#">Поддержка</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link active" aria-current="page"
                                                   href="https://vk.com/zdestupa">Группа
                                                    вк</a>
                                            </li>
                                        </ul>
                                        <div class="signed__balance">
                                            <button class="avatar-btn d-none d-md-flex">+</button>
                                        </div>
                                        <a href="/purchases"
                                           class="signed__avatar img-fluid">
                                            <img class="avatar d-none d-md-flex"
                                                 src="https://sun9-north.userapi.com/sun9-79/s/v1/ig2/Z_pRERHjFFKTq1MxUN8adbdXbNBpWLejSYkHgD65kFw5-J9iAi6A9KLOwVpwvbjPyy_xFb5iAU_MTD5j_7aFuOks.jpg?size=810x1080&quality=95&type=album">
                                            <img class="avatar2 d-flex d-md-none"
                                                 src="https://sun9-north.userapi.com/sun9-79/s/v1/ig2/Z_pRERHjFFKTq1MxUN8adbdXbNBpWLejSYkHgD65kFw5-J9iAi6A9KLOwVpwvbjPyy_xFb5iAU_MTD5j_7aFuOks.jpg?size=810x1080&quality=95&type=album">
                                        </a>
                                    </div>
                                </a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container">
                <div class="row">
                    <div class="card-one col-12 col-md-7 mb-4">
                        <div class="card-content">
                            <h2 class="card-title">Лицензионные кейсы</h2>
                            <p class="card-body py-5">Испытай удачу! Может удача сегодня на твоей строне.</p>
                            <a href="#" class="button">Learn more</a>
                        </div>
                    </div>
                    <div class="card-two card-one col-12 col-md-4 mb-4 offset-md-1">
                        <div class="card-content">
                            <h2 class="card-title">Кейсы с аккаунтами</h2>
                            <p class="card-body py-4">Испытай удачу! Наши самые лучшие рандомы , подобронные под ваши
                                предпочтения.</p>
                            <a href="#" class="button">Learn more</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card-three card-one col-12 col-md-3 mb-4">
                        <div class="card-content">
                            <h4 class="card-title">Скидки!</h4>
                            <br>
                            <br>
                            <p class="card-body">Осенние скидки. Подобронные под вас. Аккаунты с играми , которые вас
                                порадуют.
                                Испытай свою удачу!</p>
                            <a href="#" class="button">Learn more</a>
                        </div>
                    </div>
                    <div class="card-four card-one col-12 col-md-3 mb-4 offset-md-1">
                        <div class="card-content">
                            <h4 class="card-title">Лицензионные кейсы</h4>
                            <br>
                            <br>
                            <p class="card-body">lorem Lorem lorem Lorem lorem Lorem lorem Lorem lorem Lorem lorem Lorem
                                Lorem
                                lorem Lorem lorem Lorem lorem Lorem</p>
                            <a href="#" class="button">Learn more</a>
                        </div>
                    </div>
                    <div class="card-one col-12 col-md-4 mb-4 offset-md-1">
                        <div class="card-content">
                            <h2 class="card-title">Лицензионные кейсы</h2>
                            <br>
                            <br>
                            <p class="card-body">lorem Lorem lorem Lorem lorem Lorem lorem Lorem lorem Lorem lorem Lorem
                                Lorem
                                lorem Lorem lorem Lorem lorem Lorem
                                lorem</p>
                            <a href="#" class="button">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section>

            <div class="container">
                <div class="row">
                    <span class="cube">КУБИКИ?</span>
                    <h2 class="mine"><b>Майнкрафт</b></h2>
                    <div class="card-m col-12 col-md-4 mb-5">
                        <div class="card">
                            <div class="card-image mine-1"></div>
                            <h2 class="title-1">Майнкрафт Премиум</h2>
                            <p class="par-1">Ставьте свой Ник, Скин и играйте на лицензионных серверах</p>
                            <a href="#" class="btn mb-4 pl-4">
                                <span class="btn_line btn_line--top"></span>
                                <span class="btn_line btn_line--right"></span>
                                <span class="btn_line btn_line--bottom"></span>
                                <span class="btn_line btn_line--left"></span>
                                Купить и играть
                            </a>
                        </div>
                    </div>
                    <div class="card-m col-12 col-md-4 mb-5">
                        <div class="card">
                            <div class="card-image mine-2"></div>
                            <h2 class="title-1">Майнкрафт + Почта</h2>
                            <p class="par-1">Открой для себя безграничные возможности полного доступа</p>
                            <a href="#" class="btn mb-4 pl-4">
                                <span class="btn_line btn_line--top"></span>
                                <span class="btn_line btn_line--right"></span>
                                <span class="btn_line btn_line--bottom"></span>
                                <span class="btn_line btn_line--left"></span>
                                Купить и играть
                            </a>
                        </div>
                    </div>
                    <div class="card-m col-12 col-md-4 mb-5">
                        <div class="card">
                            <div class="card-image mine-3"></div>
                            <h2 class="title-1">Minecraft Java, Bedrock</h2>
                            <p class="par-1">Играй по подписке на своём ПК. Наслаждайся игрой по полной!</p>
                            <a href="#" class="btn mb-4 pl-4">
                                <span class="btn_line btn_line--top"></span>
                                <span class="btn_line btn_line--right"></span>
                                <span class="btn_line btn_line--bottom"></span>
                                <span class="btn_line btn_line--left"></span>
                                Купить и играть
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="bg-light">
            <div class="container">
                <div class="row">
                    <span class="ogo">ПССС, ДЕШЕВЫЕ ТОВАРЫ!</span>
                    <h2 class="  pt-4"><b>Каталог товаров</b></h2>
                    <div class="search-form col-12 col-md-3">
                        <input class="search-form-txt" type="text" placeholder="Какую игру ищем?">
                        <button class="search-form-btn">
                            <i class="bi bi-search"></i>
                        </button>
                    </div>
                    <div class="select-one col-12 col-md-3">
                        <select name="select-category" id="1">
                            <option value="1">Все типы товаров</option>
                            <option value="2">Ключи</option>
                            <option value="3">Аккаунты</option>
                        </select>
                    </div>
                    <div class="select-two select-one col-12 col-md-3">
                        <select name="select-category" id="2">
                            <option value="1">Все площадки</option>
                            <option value="2">STEAM</option>
                            <option value="3">UPLAY</option>
                            <option value="4">ORIGIN</option>
                            <option value="5">OTHER</option>
                        </select>
                    </div>

                </div>
                <div class="row">
                    {% for i_account in accounts %}
                    <div class="card-anim pt-4 col-12 col-md-3 mb-4">
                        <div class="card-img">
                            {% if i_account.img %}
                            <img class="card-img" src="{{ i_account.img.url }}">
                            {% endif %}
                        </div>
                        <div class="card-body-2">
                            <span class="bt"></span>
                            <span class="bt"></span>
                            <span class="bt"></span>
                            <div class="content">
                                <h5 class="title">{{ i_account.title }}</h5>
                                <p class="par">{{ i_account.description }}</p>
                                <a href="{% url 'render_detail_game' i_account.id %}">
                                <i class="bi bi-arrow-right arrow"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}