{% extends 'base.html' %}

{% block Content %}
    <div id="progressbar" class="d-none d-md-block"></div>
    <div id="scrollPath"></div>
    <div class="main">
        <div class="fon">
            <div class="bg-opacity-50">
                {% include "includes/header.html" %}
            </div>
            <hr>
            <div class="container">
                <div class="row">
                    <div class="card-one col-12 col-md-5 mb-4">
                        <div class="card-content">
                            <h2 class="card-title">Ключи на игры</h2>
                            <p class="card-body py-5">Заходи!Найдешь что ищешь=3</p>
                            <a href="/cases" class="button">Узнать больше</a>
                        </div>
                    </div>
                    <div class="card-one col-12 col-md-5 mb-4 offset-md-2">
                        <div class="card-content">
                            <h2 class="card-title">Что-то новое</h2>
                            <br>
                            <br>
                            <p class="card-body">В разработке <br> Будь готов! <br></p>
                            <a href="#" class="button">Узнать больше</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="card-one col-12 col-md-5 mb-4">
                        <div class="card-content">
                            <h2 class="card-title">Ключи на игры</h2>
                            <p class="card-body py-5">Заходи!Найдешь что ищешь=3</p>
                            <a href="/cases" class="button">Узнать больше</a>
                        </div>
                    </div>
                    <div class="card-one col-12 col-md-5 mb-4 offset-md-2">
                        <div class="card-content">
                            <h2 class="card-title">Что-то новое</h2>
                            <br>
                            <br>
                            <p class="card-body">В разработке <br> Будь готов! <br></p>
                            <a href="#" class="button">Узнать больше</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section>

            <div class="container">
                <div class="row">
                    <span class="cube">КУБИКИ?</span>
                    <h2 class="mine pb-5"><b>Майнкрафт</b></h2>
                    <div class="card-m col-12 col-md-4 mb-5 pt-5">
                        <div class="card">
                            <div class="card-image mine-1"></div>
                            <h2 class="title-1">Майнкрафт Премиум</h2>
                            <p class="par-1">Ставьте свой Ник, Скин и играйте на лицензионных серверах</p>
                            <a href="#" class="btn mb-4 pl-4">
                                <span class="btn_line btn_line--top"></span>
                                <span class="btn_line btn_line--right"></span>
                                <span class="btn_line btn_line--bottom"></span>
                                <span class="btn_line btn_line--left"></span>
                                Купить и играть
                            </a>
                        </div>
                    </div>
                    <div class="card-m col-12 col-md-4 mb-5 pt-5">
                        <div class="card">
                            <div class="card-image mine-2"></div>
                            <h2 class="title-1">Майнкрафт + Почта</h2>
                            <p class="par-1">Открой для себя безграничные возможности полного доступа</p>
                            <a href="#" class="btn mb-4 pl-4">
                                <span class="btn_line btn_line--top"></span>
                                <span class="btn_line btn_line--right"></span>
                                <span class="btn_line btn_line--bottom"></span>
                                <span class="btn_line btn_line--left"></span>
                                Купить и играть
                            </a>
                        </div>
                    </div>
                    <div class="card-m col-12 col-md-4 mb-5 pt-5">
                        <div class="card">
                            <div class="card-image mine-3"></div>
                            <h2 class="title-1">Minecraft Java, Bedrock</h2>
                            <p class="par-1">Играй по подписке на своём ПК. Наслаждайся игрой по полной!</p>
                            <a href="#" class="btn mb-4 pl-4">
                                <span class="btn_line btn_line--top"></span>
                                <span class="btn_line btn_line--right"></span>
                                <span class="btn_line btn_line--bottom"></span>
                                <span class="btn_line btn_line--left"></span>
                                Купить и играть
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-12 ">
                        <span class="ogo">ПССС, ДЕШЕВЫЕ ТОВАРЫ!</span>
                        <h2 class="  pt-4"><b>Каталог товаров</b></h2>
                        <div class="row">
                            <div class="col-12 col-md-4 mb-3">

                                <div class="search-form ">
                                    <input class="search-form-txt"    name="title" type="text" placeholder="Какую игру ищем?">
                                    <button type="submit" class="search-form-btn">
                                        <i class="bi bi-search"></i>
                                    </button>
                                </div>

                            </div>
                            <div class="col-12 col-md-4 mb-3">
                                <div class="select-one">
                                    <select name="type" class="search-form-type ">
                                        <option  value="">Все типы</option>
                                        {% for tip in tipi_acccount %}
                                        <option value="{{ tip.id }}">{{ tip.name }}</option>
                                          {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 mb-3">
                                <div class="select-two select-one">
                                    <select name="select-category" class="search-form-platformi">
                                        <option value="">Все площадки</option>
                                        {% for platforma in platformi %}
                                            <option value="{{ platforma.id }}">{{ platforma.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row card-place">
                    {% for i_account in accounts %}
                        <div class="card-anim pt-4 col-12 col-md-3 mb-4">
                            <div class="card-img">
                                {% if i_account.img %}
                                    <img class="card-img" src="{{ i_account.img.url }} " style="border-radius: 20px">
                                {% endif %}
                            </div>
                            <div class="card-body-2">
                                <span class="bt"></span>
                                <span class="bt"></span>
                                <span class="bt"></span>
                                <div class="content">
                                    <h5 class="title">{{ i_account.title }}</h5>
                                    <p class="par">{{ i_account.description }}</p>
                                    <a href="{% url 'render_detail_game' i_account.id %}" style="border-radius: 20px">
                                        <i class="bi bi-arrow-right arrow"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <div class="alert alert-danger">Ничего не найдено</div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}