{% extends 'base.html' %}

{% block Content %}
    <div class="fon-2">
        <div class="bg-opacity-50">
          {%  include "includes/header.html" %}
        </div>
    </div>
    <div class="bg-light pb-4">
        <div class="container">
            <div class="row profile__row pt-5">
                <div class="profile__avatar-box col-12 col-md-2 px-0">
                    {% if user.is_authenticated %}
                        {% if user.polzovatel.image %}
                            <div class="ratio ratio-1x1">
                                <img class="profile_img" src="{{ user.polzovatel.image.url }}">
                            </div>
                        {% else %}
                            <div class="ratio ratio-1x1">
                                <img class="profile_img" src="https://i.postimg.cc/jd1b2gk9/glush.jpg">
                            </div>
                        {% endif %}
                    {% endif %}

                </div>
                <div class="profile__info-box col-12 col-md-4 pt-5">
                    <div class="profile__id">ID 1</div>
                    <div class="profile__name">Роман</div>
                    <div class="profile__balance">1000 рублей на балансе</div>
                </div>
                <div class="profile__stats col-12 col-md-1 pt-5 pb-3">
                    <div class="profile__stat">
                        <span>0</span>
                        <span>покупок</span>
                    </div>
                </div>
                <div class="profile__topup col-12 col-md-3 ">
                    <div class="profile__topup_head">
                        <button type="button" class="button btn-md modal__trigger profile__btn"
                                data-popupselector="#addMoneyModal">
                            <span>Пополнить <span>баланс</span></span>
                        </button>
                        <i class="bi bi-gear profile__settings-btn" data-bs-toggle="modal"
                           data-bs-target="#Modal-settings" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-light pt-3">
        <div class="container">
            <div class="row">
                <div class="profile__tabs">
                    <div class="profile__tab prev disabled"><span></span></div>
                    <div class="profile__tab active">Покупки</div>
                    <div class="profile__tab next disabled"><span></span></div>
                </div>
                <div class="profile__tab-data user-buy-history active">

                    <div id="p1" data-pjax-container="" data-pjax-push-state="" data-pjax-timeout="1000">
                        <div class="profile__items profile__drops-container">
                            {% for purchase in user.polzovatel.purchases_set.all %}
                                <div class="profile__item mb-3">

                                    <div class="profile__item-col">
                                    </div>

                                    <div class="profile__item-col profile__item-name">
                                        <span>{{ purchase.account }}</span>
                                        <span>Аккаунт</span>
                                        <span></span>
                                    </div>

                                    <div class="profile__item-col">
                                        <span>{{ purchase.number_purchase }}</span>
                                        <span>Номер покупки</span>
                                    </div>
                                    <div class="profile__item-col">
                                        <span>{{ purchase.platform }}</span>
                                        <span>Платформа</span>
                                    </div>

                                    <div class="profile__item-col profile__item-data">

                                        <div><span class="px-1">{{ purchase.login }}</span><span>Логин</span></div>
                                        <div><span class="px-1">{{ purchase.password }}</span><span>Пароль</span></div>
                                    </div>

                                    <div class="profile__item-col">
                                        <span>{{ purchase.time }}</span>
                                        <span>Время покупки</span>
                                    </div>
                                </div>
                                {% empty %}
                                123
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
